
<div class="headline">TITLE</div>
<login (betoltes)="betoltes($event)"></login>
<div class="cr">
  <input type="text" placeholder="tessék szöveget írni" style="width:75%" id="hosszu" [(ngModel)]="newPost"/>
  <input type="button" value="SZÖVEGELÉS" (click)="szovegeles()"/>
  <input type="button" value="lapozás" (click)="lapozas()"/>
  <input type="button" value="vissza" (click)="vissza()">
  <br/>
  <div class="crb" id="chat">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>
  </div>
</div>
<div class="fhdoboz" id="felhd">
  <app-user *ngFor="let user of users" [user]="user" [currentUser]="currentUser"></app-user>
</div>